---
---

<p>Hi, I'm Sharat.</p>
<p>I started writing software when I was 10 and never stopped. I've worked on everything from kernel modules to massive distributed systems. I like building things that work well and look good.</p>
<p>I currently work at <a href="https://evocalize.com">Evocalize</a> as a Founding Principal Engineer, previously at AWS and Amazon.</p>
