---
const year = new Date().getFullYear();
---

<footer class="max-w-2xl mx-auto pb-20 mt-10 pt-20 border-t border-slate-300 dark:border-slate-600 px-4 md:px-30 text-center text-slate-500 dark:text-slate-400">
	<div>© {year} Sharat Visweswara</div>
</footer>
