---
import type { CollectionEntry } from 'astro:content';
import BaseLayout from './BaseLayout.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate } = Astro.props;
---

<BaseLayout title={title} description={description}>
	<div class="mx-auto max-w-3xl">
		<article class="mb-40">
			<div class="prose dark:prose-invert mx-auto prose-slate prose-a:text-primary-500 max-w-none">
				<header class="flex flex-col gap-y-4">
					<h1 class="text-balance text-3xl sm:text-4xl">{title}</h1>
					<time class="order-first text-sm font-mono inline-flex text-stone-400">
						<FormattedDate date={pubDate} />
					</time>
				</header>
				<slot />
			</div>
		</article>
	</div>
</BaseLayout>
